*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Oswald', sans-serif;
  background-color: #223447;
  margin: 0; }

h1 {
  font-weight: bolder;
  font-size: 35px; }

h2 {
  font-weight: lighter;
  font-size: 20px;
  text-shadow: 1px 1px grey; }

h3 {
  font-weight: normal;
  font-size: 22px;
  margin: auto;
  text-align: center; }

.main-container {
  margin: auto;
  max-width: 1300px;
  margin: auto; }

.card-1-container {
  width: 100%;
  max-width: 364px;
  margin: auto;
  padding: 10px;
  display: block;
  position: relative;
  border-radius: 5px;
  margin-top: 30px; }
  @media (min-width: 750px) {
    .card-1-container {
      float: left;
      margin-left: 50px; } }

.card-1-container::after {
  content: "";
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  border-radius: 5px;
  background: url("../img/Sunny-2.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

.card-1-container::before {
  content: "";
  opacity: 0.9;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  border-radius: 5px;
  background-color: #fcff82; }

.card-2-container {
  width: 100%;
  max-width: 364px;
  margin: auto;
  padding: 10px;
  display: block;
  position: relative;
  border-radius: 5px;
  margin-top: 30px; }
  @media (min-width: 750px) {
    .card-2-container {
      float: left;
      margin-left: 50px; } }

.card-2-container::after {
  content: "";
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  border-radius: 5px;
  background: url("../img/donald.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

.card-2-container::before {
  content: "";
  opacity: 0.9;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  border-radius: 5px;
  background-color: #d7a2f2; }

.card-3-container {
  width: 100%;
  max-width: 364px;
  margin: auto;
  padding: 10px;
  display: block;
  position: relative;
  border-radius: 5px;
  margin-top: 30px; }
  @media (min-width: 750px) {
    .card-3-container {
      float: left;
      margin-left: 50px; } }

.card-3-container::after {
  content: "";
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  border-radius: 5px;
  background: url("../img/harry.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

.card-3-container::before {
  content: "";
  opacity: 0.9;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  border-radius: 5px;
  background-color: #79e1e5; }

.card-4-container {
  width: 100%;
  max-width: 364px;
  margin: auto;
  padding: 10px;
  display: block;
  position: relative;
  border-radius: 5px;
  margin-top: 30px; }
  @media (min-width: 750px) {
    .card-4-container {
      float: left;
      margin-left: 50px; } }

.card-4-container::after {
  content: "";
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  border-radius: 5px;
  background: url("../img/pbr.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

.card-4-container::before {
  content: "";
  opacity: 0.9;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  border-radius: 5px;
  background-color: #f4f5ff; }

.header {
  width: 100%;
  height: 90px;
  background-color: #cbd0ff;
  margin-bottom: 20px; }

.heading-pic {
  height: 100px;
  width: 305px;
  margin: auto;
  background-image: url("../img/quiz.png");
  background-position: center; }

.heading-pic::after {
  content: "city";
  position: relative;
  margin-left: 240px; }

.button-rectangle-1, .button-rectangle-2, .button-rectangle-3, .button-rectangle-4 {
  border-radius: 60px;
  width: 150px;
  height: 50px;
  border: 2px solid black;
  display: inline-block;
  position: absolute;
  padding: 6px; }

.card-1-image {
  width: 95%;
  height: 0;
  margin: auto;
  margin-top: 10px;
  border-radius: 6px;
  border: 3px solid black;
  background-image: url("../img/Sunny.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 56.25% 0 0 0; }

.card-2-image {
  width: 95%;
  height: 0;
  margin: auto;
  margin-top: 10px;
  border-radius: 6px;
  border: 3px solid black;
  background-image: url("../img/donald-face.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 56.25% 0 0 0; }

.card-3-image {
  width: 95%;
  height: 0;
  margin: auto;
  margin-top: 10px;
  border-radius: 6px;
  border: 3px solid black;
  background-image: url("../img/houses.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 56.25% 0 0 0; }

.card-4-image {
  width: 95%;
  height: 0;
  margin: auto;
  margin-top: 10px;
  border-radius: 6px;
  border: 3px solid black;
  background-image: url("../img/jfk.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 56.25% 0 0 0; }

.card-1-text, .card-2-text, .card-3-text, .card-4-text {
  padding: 10px; }

.button-rectangle-1 {
  background-color: #fcff82; }

.button-rectangle-2 {
  background-color: #d7a2f2; }

.button-rectangle-3 {
  background-color: #79e1e5; }

.button-rectangle-4 {
  background-color: #f4f5ff; }

.like-icon {
  width: 50px; }

.share-icon {
  width: 50px; }

.card-icons {
  display: inline-block;
  margin-left: 200px; }

/*# sourceMappingURL=application.css.map */
