.main-container {
  padding: 10px;
  margin: auto;
  max-width: 1300px;
  margin: auto;
}

.card-1-container  {
  width: 100%;
  max-width: 364px;
  margin: auto;
  padding: 10px;
  display: block;
  position: relative;
  border-radius: 5px;
  margin-top: 10px;
}


.card-1-container::after {
  content: "";
  background: url("../img/Sunny-2.jpg");
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
  border-radius: 5px;
  background-size: cover;
}

.card-1-container::before {
  content: "";
  background-color: yellow;
  opacity: 0.9;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  background-repeat: no-repeat;
  z-index: -1;
  border-radius: 5px;
}

.card-2-container  {
  width: 100%;
  max-width: 364px;
  margin: auto;
  padding: 10px;
  display: block;
  position: relative;
  border-radius: 5px;
  margin-top: 10px;
}


.card-2-container::after {
  content: "";
  background: url("../img/donald.jpg");
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  background-repeat: no-repeat;
  background-position: bottom;
  z-index: -1;
  border-radius: 5px;
  background-size: cover;
}

.card-2-container::before {
  content: "";
  background-color: pink;
  opacity: 0.9;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  background-repeat: no-repeat;
  z-index: -1;
  border-radius: 5px;
}

.card-3-container  {
  width: 100%;
  max-width: 364px;
  margin: auto;
  padding: 10px;
  display: block;
  position: relative;
  border-radius: 5px;
  margin-top: 10px;
}


.card-3-container::after {
  content: "";
  background: url("../img/harry.jpg");
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  background-repeat: no-repeat;
  background-position: bottom;
  z-index: -1;
  border-radius: 5px;
  background-size: cover;
}

.card-3-container::before {
  content: "";
  background-color: lightblue;
  opacity: 0.9;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  background-repeat: no-repeat;
  z-index: -1;
  border-radius: 5px;
}

.card-4-container  {
  width: 100%;
  max-width: 364px;
  margin: auto;
  padding: 10px;
  display: block;
  position: relative;
  border-radius: 5px;
  margin-top: 10px;
}


.card-4-container::after {
  content: "";
  background: url("../img/pbr.jpg");
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  background-repeat: no-repeat;
  background-position: bottom;
  z-index: -1;
  border-radius: 5px;
  background-size: cover;
}

.card-4-container::before {
  content: "";
  background-color: white;
  opacity: 0.9;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  background-repeat: no-repeat;
  z-index: -1;
  border-radius: 5px;
}
