.button-rectangle-1 {
  @extend %buttons;
  background-color: $yellow;
}

.button-rectangle-2 {
  @extend %buttons;
  background-color: $purple;
}

.button-rectangle-3 {
  @extend %buttons;
  background-color: $blue;
}

.button-rectangle-4 {
  @extend %buttons;
  background-color: $white;
}

.button-rectangle-5 {
  @extend %buttons;
  background-color: $green;
}

.button-rectangle-6 {
  @extend %buttons;
  background-color: $red;
}
