.like-icon {
  width: 50px;

  &:hover {
    -webkit-filter: drop-shadow(1px 1px 6px black);
    filter: drop-shadow(1px 1px 6px black);
    cursor: pointer;
  }
}

.share-icon {
  @extend .like-icon;
}

.card-icons {
  display: inline-block;
  margin-left: 200px;
}
