*,
*::before,
*::after {
  @include border-box(border-box);
}


body {
  font-family: 'Oswald', sans-serif;
  background-color: #223447;
  margin: 0;
  padding-bottom: 50px;
  @include linear-gradient($background-color1, $background-color2);
}

h1 {
  @include page-texts(bolder, 35px);
  text-shadow: 2px 2px 1px lighten($green, 50%);
}

h2 {
  @include page-texts(lighter, 20px);
  text-shadow: 2px 2px 2px darken(black, 30%);
  color: white;
}

h3 {
  @include page-texts(normal, 22px);
  margin: auto;
  text-align: center;
}
