*,
*::before,
*::after {
  @include border-box(border-box);
}

body {
  font-family: 'Oswald', sans-serif;
  background-color: #223447;
  margin: 0;
}

h1 {
  @include page-texts(bolder, 35px);
}

h2 {
  @include page-texts(lighter, 20px);
  text-shadow: 1px 1px grey;
}

h3 {
  @include page-texts(normal, 22px);
  margin: auto;
  text-align: center;
}
